[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
pylint = "*"
isort = "*"
pytest-cov = "*"
bpython = "*"
radon = "*"
aws-cdk-core = "*"
aws-cdk-aws-docdb = "*"
aws-cdk-aws-lambda = "*"
aws-cdk-aws-apigateway = "*"
aws-cdk-aws-secretsmanager = "*"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
requests = "*"
odmantic = "*"
dnspython = "*"
fastapi-users = "*"
mongoengine = "*"
config2 = "*"
magnum = "*"
boto3 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
