[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
pylint = "*"
isort = "*"
pytest-cov = "*"
bpython = "*"
radon = "*"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
requests = "*"
odmantic = "*"
dnspython = "*"
fastapi-users = "*"
mongoengine = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
